*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
} 
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-template-rows: 80px 200px auto auto 80px;
    grid-template-areas: "navbar navbar navbar navbar" 
                         "header header header header"
                         "main main main sidebar"
                         "footer footer footer footer";
} 
.navbar{
    grid-area: navbar;
    background-color: rgb(95, 95, 173);
    display: flex;
    position: sticky;
    justify-content:space-around;
    align-items: center;

    
}
.navbar ul {
    display: flex;
    list-style: none;

}
.navbar ul li{ 
    padding: 20px;

}
.navbar ul li a{
    text-decoration: none;
    color: white; 
    font-size: 24px; 

}
.logo img{
    width: 60px; 
    
}
.header{
    grid-area: header;
    background-image: url(../img/pexels-pixabay-50711\ \(1\).jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    
    
} 
.headerInfo{
    padding: 10px;
    margin-left: 10px;
    color: rgba(7, 7, 7, 0.55); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header h1{
    color: white;
    font-size: 50px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header P{
    color:black; 
    font-size: 40px;
    
}
.btn{
    width: 100px;
    background-color: #09090a;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(244, 243, 243); 
    margin:10px

}
.main{
    grid-area: main;
   

} 
.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center ;
    border:1px solid #000;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    

}
.card img{
    width: 200px;
    border-radius: 10%;

}
.cardInfo{
   width: 240px;
    margin: 10PX;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.sidebar{
    grid-area: sidebar;
    justify-content: space-around;
    
}
footer{
    grid-area: footer; 
    
} 
.productos{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-template-rows: 90px 200px auto 100px;
    grid-template-areas: "navbar navbar navbar navbar" 
                         "header header header header"
                         "main main main main"
                         "sidebar sidebar sidebar sidebar"
                         "footer footer footer footer";

}
.navbarProductos{
    grid-area: navbar;
    background-color: rgb(46, 46, 115);
    display: flex;
    justify-content:center;
    align-items: center;

} 
.navbarProductos ul{
    display: flex;
    list-style: none;

}
.navbarProductos ul li a{
    text-decoration: none;
    color: white; 
    font-size: 24px; 
    margin:10px; 
   

} 

.header2{
    grid-area: header;
    background-image: url(../img/pexels-pixabay-50711\ \(1\).jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
} 
.header2 h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header2 p{
    color: rgb(144, 8, 8); 
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.contacto{
    display: grid;
}
.containerP{
    display: grid;
}
.productosMain{
    display: flex;
}
@media  (max-width: 600px) { 
    .container{
        
    grid-template-columns: 40px 200px auto 40px 40px;
    grid-template-areas: "navbar navbar navbar navbar " 
                         "header header header header "
                         "main main main main  "
                         "sidebar sidebar sidebar sidebar"
                         "footer footer footer footer ";

     }
     .sidebar{
        grid-area: sidebar;
     } 
     .cardInfo{
        display: flex;
        
     }
     .cardInfo__img{
        display: flex;
     }
     .border{
        border: 4px solid black;
     }
     .navbar{
        width:100%;
        

     } 
     .header{
        width:auto;

     } 
     .header__img{
        width: 10%;
     }
     .sidebar{
        width: auto;

     } 
     .cardInfo__img{
        width: 48%;
        height: 30px;
        padding-right: 30px;
     }
     
     
    .cardInfo{
        width: 100%;
        height: 10%; 
        padding-right: 20%;
    } 
}
@media  (min-width: 600px) {
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-columns: 40px auto auto 40px 40px;
        grid-template-areas: "navbar navbar navbar navbar " 
                             "header header header header "
                             "main main main main sidebar "
                             "footer footer footer footer ";

    }
    
    
    .card{
        display:flex; 

    }

}@media  (min-width: 800px) {
    .productos{
       display: flex;
       
        grid-template-columns: repeat(4,1fr);
        grid-template-columns: 300px 300px auto auto auto;
        grid-template-areas: "navbar navbar navbar navbar " 
                             "header header header header "
                             "main main main main "
                             "sidebar sidebar sidebar sidebar "
                             "footer footer footer footer ";
    }
    .productosMain{
        display:flex;
        flex-direction: column;
    
    }
   
    
    .btn{
        width: 100px;
    background-color: #09090a;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(244, 243, 243); 
    margin:10px 
    }
}
    

@media  (max-width: 100px) {
    .productos{
        
        grid-template-columns: repeat(5,1fr);
        grid-template-columns: auto auto auto auto auto;
        grid-template-areas: "navbar navbar navbar navbar navbar " 
                             "header header header header header"
                             "main main main main sidebar sidebar"
                             "footer footer footer footer footer";
    }
        
    .navbarProductos{
        width: 200px;
    }
    .productosMain{
        display:flex
    }
    .btn{
        font-size: 15px;
    }
   
}
.productosMain{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    

}




.contacto{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3px;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "navbar navbar navbar navbar" 
                         "header header header header"
                         "main main main sidebar"
                         
                         "footer footer footer footer";


} 
.navbarContactos{
    grid-area: navbar;
    background-color: rgb(69, 69, 117);
    display: flex;
    justify-content:center;
    align-items:center; 
    margin: 0 ;

}
.navbarContactos ul{
    display: flex;
    list-style: none;

} 
.navbarContactos ul li a{
    text-decoration: none;
    color: white; 
    font-size: 24px; 
    margin:12px; 
   
}
.nombre{
    margin: 10px;
}
.dni{
    margin:10px
}
.contraseña{
    margin: px;
}
.comentario{
    margin: 10px;
}
.header3{
    grid-area: header;
    background-image: url(../img/pexels-pixabay-50711\ \(1\).jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
}
.header3 h1 {
    font-size: 50px;
    align-items: center;
    color: black;
} 
.header3 p {
    font-size: 30px; 
    color: coral; 
    font-family: cursive; 
    
}
.mainContacto{
    justify-content: stretch;
    grid-template-rows: 100px 300px auto 100px;
   
    

} 


    

.nosotros{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3px;
    grid-template-rows: 90px 200px auto 100px;
    grid-template-areas: "navbar navbar navbar navbar" 
                         "header header header header"
                         "main main main main"
                         "sidebar sidebar sidebar sidebar"
                         "footer footer footer footer";
}
.navbarNos{
    grid-area: navbar;
    background-color: rgb(69, 69, 117);
    display: flex;
    justify-content:center;
    align-items:center; 
    margin: 0 ;

} 
.navbarNos ul{
    display: flex;
    list-style: none;

} 
.navbarNos ul li a {
    text-decoration: none;
    color: white; 
    font-size: 24px; 
    margin:12px; 
}
.noticias{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3px;
    grid-template-rows: 90px 200px auto 100px;
    grid-template-areas: "navbar navbar navbar navbar" 
                         "header header header header"
                         "main main main main"
                         "sidebar sidebar sidebar sidebar"
                         "footer footer footer footer";
}
.navbarNoticias{
    grid-area: navbar;
    background-color: rgb(69, 69, 117);
    display: flex;
    justify-content:center;
    align-items:center; 
    margin: 0 ;
}
.navbarNoticias ul{
    display: flex;
    list-style: none;
}
.navbarNoticias ul li a {
    text-decoration: none;
    color: white; 
    font-size: 24px; 
    margin:12px; 
} 
.mainNoticias{
    text-align: center;
    background-color: aquamarine;
    font-size: 20PX;
    margin: 10px; 
    display:grid;
} 

 
     
       
 .footerNoticias{
    text-align: start;
    margin: 1000px;
 }
  
  
  .noticiasPar {
    background-color: aqua;
    margin: 20%;

  }  
  .footer{
    width: 100%;
    height: 80px;
    background-color:#001850 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer h5 {
    color: white;
    font-size: 18px;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center ;
    border:1px solid #000;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.tarjeta__titulo{
    font-size: 18px;
    margin: 5px 0px;
}
.tarjeta__img{
    width: 80%;
}
.btn{
    background-color: #001850 ;
    padding: 8px 12px;
    color: white;
    border: 0px;
    border-radius: 5px;
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    width: 100%;
    height: 80px;
    background-color:#001850 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer h5 {
    color: white;
    font-size: 18px;
}
  